@charset 'utf-8';

@import './block/header.scss';
@import './block/main-content.scss';
@import './block/sidebar.scss';
@import './block/footer.scss';
@import './setting/variables.scss';

body {
  position:         relative;
  margin:           0;
  padding:          0;
  font-size:        15px;
  line-height:      2;
  color:            #333333;
  background-color: #cccccc;
}

#portfolio {
  background-image:      url(../images/bg-portfolio.jpeg);
  background-repeat:     no-repeat;
  background-position:   center top;
  background-size:       100% auto;
  background-attachment: fixed;
}

ul {
  margin:  0;
  padding: 0;
}

a {
  color:           #3583aa;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main-container {
  margin-top:       500px;
  padding:          $padding-size-huge 0;
  background-color: white;

  &:after {
    content: '';
    display: block;
    clear:   both;
  }

  .content-container {
    width:  960px;
    margin: 0 auto;
  }
}
