@charset "utf-8";

@import "./block/header.scss";
@import "./setting/size.scss";

body {

  margin: 0;
  padding: 0;
  background-color: #cccccc;
  color: #333333;
  font-size: 15px;
  line-height: 2;
  position:    relative;
}

#portfolio {

  background-attachment: fixed;
  background-position:   center top;
  background-repeat:     no-repeat;
  background-image:      url(../images/bg-portfolio.jpeg);
  background-size:       100% auto;
}

ul { margin: 0; padding: 0; }

a { color: #3583aa; text-decoration: none; }

a:hover { text-decoration: underline; }

.main-container {

  background-color: white;
  padding:          $padding-size-huge 0;
  clear:            both;

  .content-container {

    width:  960px;
    margin: 0 auto;
  }
}
