@import "../setting/color.scss";
@import "../setting/size.scss";
@import "../setting/font.scss";

.footer {

  background-color: $footer-background-color;
  text-align:        center;
  padding:           $padding-size-medium 0;
  color:             $footer-font-color;

  &__copyright {

    font-size: $copyright-font-size;
  }
}
