@import '../setting/variables.scss';

.navigation {
  float:      right;
  margin-top: 60px;
  padding:    0;

  &__item {
    list-style:  none;
    float:       left;
    margin:      0 $margin-size-medium;
    font-size:   $font-size-medium;
    font-family: $main-font-family, $sub-font-family;
  }

  &__link {
    color: $navigation-font-color;

    &:hover {
      padding-bottom:  3px;
      text-decoration: none;
      border-bottom:   2px solid $navigation-font-color;
    }
  }
}
