$main-font-family: 'Bitter';
$sub-font-family:  serif;

// font size

$h1-font-size:           36px;
$h2-font-size:           24px;
$sidebar-item-font-size: 16px;
$copyright-font-size:    12px;

$font-size-minimum: 5px;
$font-size-tiny:    10px;
$font-size-small:   15px;
$font-size-medium:  20px;
$font-size-large:   25px;
$font-size-maximum: 30px;
