$navigation-main-font: 'Bitter';
$navigation-sub-font:  serif;

// font size

$font-size-minimum: 5px;
$font-size-tiny:    10px;
$font-size-small:   15px;
$font-size-medium:  20px;
$font-size-large:   25px;
$font-size-maximum: 30px;
