// padding size

$padding-size-minimum: 5px;
$padding-size-tiny: 10px;
$padding-size-small: 15px;
$padding-size-medium: 20px;
$padding-size-large: 25px;
$padding-size-very-large: 30px;
$padding-size-huge: 35px;

// margin size

$margin-size-minimum: 5px;
$margin-size-tiny: 10px;
$margin-size-small: 15px;
$margin-size-medium: 20px;
$margin-size-large: 25px;
$margin-size-very-large: 30px;
$margin-size-huge: 35px;